<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h2>Джанго проект</h2>
    <img src="https://masterzoo.ua/content/uploads/images/dzhungarskij-homyak-masterzoo-ua.jpg" width="400">
    <a href="{% url 'contacts' %}">На контакты</a>
    <a href="{% url 'rabotnik' id=0 %}">Работник месяца1</a>
    <a href="{% url 'rabotnik' id=1 %}">Работник месяца2</a>
    <a href="{% url 'rabotnik' id=2 %}">Работник месяца3</a>
</body>
</html>